.section-container:after, 
.col:after,
.row:after { 
	zoom: 1;
}
#header-overlay-slider {
	display: none !important;
}
#header-overlay-search {
	filter: alpha(opacity=0)
}
#header.search #header-overlay-search {
	filter: alpha(opacity=100)
}
#header-container .website-logo img.logo-dark {
	filter: alpha(opacity=100);
}
#header-container .website-logo img.logo-light {
	filter: alpha(opacity=0);
}
#header-container.trans.light .website-logo img.logo-light {
	filter: alpha(opacity=100);
}
#header-container.trans.dark .website-logo img.logo-light {
	filter: alpha(opacity=0);
}
#header-container.trans.light .website-logo img.logo-dark {
	filter: alpha(opacity=0);
}
#current-player-overlay {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
#current-player-overlay2 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.ie7 #preloader,
.ie8 #preloader {
	display: none;
}
#inner-container {
	top: -22px;
	margin-bottom: -22px;
}
#top-nav .sub-menu {
	background: #1F1F1F;
	filter: alpha(opacity=90);
}
#top-nav > ul > li:hover > a {
	color: inherit !important;
}
.ie7 .to-audio-player .to-item-time,
.ie8 .to-audio-player .to-item-time {
	background: #ffffff;
	filter: Alpha(Opacity=07);
}
.ie7 .to-ptable,
.ie8 .to-ptable {
	border: none;
	margin-right: 1.5%;
}
.ie7 #inner-container {
	padding: 0 17px 0 0;
}
.ie7 .clearfix { 
	zoom: 1; 
}
.ie7 .isotope-pages li {
	display: inline;
	zoom: 1;
}
.ie7 .controls-inner div { 
	padding-top: 2px;
	line-height: 30px;
}
.ie7 .controls .toggle-view { 
	padding-top: 7px;
	line-height: 30px;
}
.ie7 .parallax-container-inner {
	background: 100% 100%;
}
.ie7 #to-slider-pages li,
.ie8 #to-slider-pages li {
	background: #000000;
	filter: alpha(opacity=70);
}
.ie7 .to-slider-page-overlay,
.ie8 .to-slider-page-overlay {
	background: #000000;
	filter: alpha(opacity=50);
}
.ie7 .isotope-pages li,
.ie8 .isotope-pages li {
	background: #000000;
	filter: alpha(opacity=70);
}
.ie7 .to-lb-overlay,
.ie8 .to-lb-overlay,
.ie7 #search-overlay,
.ie8 #search-overlay {
	background: #000000;
	filter: alpha(opacity=80);
}
.ie7 #scrollToTop,
.ie8 #scrollToTop {
	background: #000000;
	filter: alpha(opacity=35);
}
.ie7 .to-item.blog.center .to-item-content,
.ie8 .to-item.blog.center .to-item-content {
	background: #1A1A1A;
	filter: alpha(opacity=60);
}
.ie7 .to-item.blog.center.quote .to-item-content,
.ie8 .to-item.blog.center.quote .to-item-content,
.ie7 .to-item.blog.center.link .to-item-content,
.ie8 .to-item.blog.center.link .to-item-content {
	filter: alpha(opacity=100);
}
.ie7 .to-item.portfolio h2,
.ie8 .to-item.portfolio h2,
.ie7 .to-item-lightbox-link,
.ie8 .to-item-lightbox-link,
.ie7 .to-item-audio-link,
.ie8 .to-item-audio-link,
.ie7 .to-item-content-link,
.ie8 .to-item-content-link {
	filter: alpha(opacity=0);
}
.ie7 .to-item.portfolio.portstyle2 h2,
.ie8 .to-item.portfolio.portstyle2 h2 {
	filter: alpha(opacity=100);
}
.ie7 .to-audio-player .to-item-audio-link,
.ie8 .to-audio-player .to-item-audio-link {
	filter: alpha(opacity=100);
}
.ie7 .to-item .to-item-overlay,
.ie8 .to-item .to-item-overlay,
.ie7 .to-item .to-item-overlay-2,
.ie8 .to-item .to-item-overlay-2 {
	filter: alpha(opacity=0);
}
.ie7 .to-item:hover .to-item-overlay-2,
.ie8 .to-item:hover .to-item-overlay-2 {
	filter: alpha(opacity=60);
}
.ie7 .to-item.portfolio.portstyle3 h2,
.ie8 .to-item.portfolio.portstyle3 h2 {
	color: #fff;
}
.ie7 .to-item.portfolio.portstyle3 .to-item-cats,
.ie8 .to-item.portfolio.portstyle3 .to-item-cats {
	filter: alpha(opacity=0);
}
.ie7 .to-item.portfolio.portstyle3:hover .to-item-cats,
.ie8 .to-item.portfolio.portstyle3:hover .to-item-cats {
	filter: alpha(opacity=100);
}
.ie7 .to-item-time,
.ie8 .to-item-time  {
	background: #000000;
	filter: alpha(opacity=35);
}
.ie7 .element-dot {
	zoom:expression(
		this.runtimeStyle.zoom = "1", 
		this.appendChild(document.createElement("div")).className="before"
	);
}
.ie7 .element-dot .before {
	font-style: bold;
	letter-spacing: -3px;
	font-size: 16px;
	line-height: 20px;
	zoom: expression(
		this.runtimeStyle['zoom'] = '1', 
		this.innerHTML = '...'
	);
}​
.mejs-video .mejs-controls {
	background: #000;
	filter: alpha(opacity=75);
}
.mejs-controls .mejs-play button {
	*zoom: expression( 
		this.runtimeStyle['zoom'] = '1', 
		this.innerHTML += '<div class="fa fa-play" style="font-size: 16px;"></div><div class="fa fa-pause" style="font-size: 16px;"></div>' 
	);
}
.mejs-controls .mejs-fullscreen-button button {
	*zoom:expression(
		this.runtimeStyle.zoom = "1", 
		this.appendChild(document.createElement("div")).className="fa fa-expand"
	);
}
.mejs-controls .mejs-unfullscreen button {
	*zoom:expression(
		this.runtimeStyle.zoom = "1", 
		this.appendChild(document.createElement("div")).className="fa fa-compress"
	);
}
.mejs-controls .mejs-mute button {
	*zoom: expression( 
		this.runtimeStyle['zoom'] = '1', 
		this.innerHTML += '<div class="fa fa-volume-up" style="font-size: 18px; margin-left: 5px;"></div><div class="fa fa-volume-off" style="font-size: 18px; margin-left: 5px;"></div>' 
	);
}
.post-gallery-slider .owl-controls.clickable .owl-buttons div {
	filter: Alpha(Opacity=100);
}
.post-gallery-slider .owl-buttons .owl-prev,
.post-gallery-slider .owl-buttons .owl-next {
	filter: Alpha(Opacity=100);
}
.post-gallery-slider .owl-buttons .to-sc-button-over {
	filter: Alpha(Opacity=50) !important;
}
.post-gallery-slider .owl-buttons .to-sc-button-over:hover {
	filter: Alpha(Opacity=50) !important;
}
.widget.widget-post-like .post-like-overlay {
	filter : alpha(opacity=0);	
}
.widget.widget-post-like .post-like-img:hover .post-like-overlay{
	filter : alpha(opacity=50);
}
.portfolio-sidebar {
	padding: 0;
}

.to-slide.left .to-slide-content-inner {
	width: 70%;
	left: 0%;
}
.to-slide.center .to-slide-content-inner {
	width: 70%;
	left: 15%;
	padding: 0;
}
.to-slide.right .to-slide-content-inner {
	width: 70%;
	left: 30%;
	right: 0;
	padding: 0;
}
.to-social-holder .count-share {
	filter : alpha(opacity=100);
}
.to-social-holder:hover .count-share {
	filter : alpha(opacity=0);
}
.to-social-holder .to-social-list i,
.to-social-holder .to-social-list .count {
	filter : alpha(opacity=0);
}
.to-social-holder:hover .to-social-list i,
.to-social-holder:hover .to-social-list .count {
	filter : alpha(opacity=100);
}
.post-like .icon-to-x {
	filter : alpha(opacity=0);
}
.post-like.liked:hover > .fa-heart {
	text-indent: 101%;
    overflow: hidden;
}
.post-like.liked:hover .icon-to-x {
	text-indent: 0%;
	filter : alpha(opacity=100);
	top: 4px;
}
.ie7 .widget.widget-post-like img, .no-post-like-image,
.ie8 .widget.widget-post-like img, .no-post-like-image {
	min-width: 55px;
}